<app-navbar></app-navbar>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/carousel-images/slide2.jpeg" alt="First Slide" style="width: 100vm;height: 610px;">
            </div>
            <div class="carousel-caption">
                <h1 id="p1">Sony Tech Team Project Presentation - One</h1>
                <p>Employee Management System</p>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/carousel-images/slide1.jpeg" alt="Second Slide" style="width: 100vm;height: 610px;">
            </div>
            <div class="carousel-caption">
                <h1 id="p1">Sony Tech Team Project Presentation - One</h1>
                <p>This project helps add/update/retrieve/get employee details and show them</p>
            </div>
        </ng-template>
    </ngb-carousel>

