<body>
<div class="registration-container">
    <div class="registration-card p-3">
        <h5 class="text-center mb-3">Register</h5>
        <form id="registerForm">
            <div class="mb-3">
                <input type="text" placeholder="Username" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <input type="email" placeholder="Email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
    </div>
</div>
</body>